@page
@model CompositionOutputModel
@{
    ViewData["Title"] = "Home page";
    int count = 1;
}

<div class="text-center">
    <div>
        <h1 class="display-4">Composition Output</h1>
    </div>
    <div>
    </div>
    <div style="overflow: auto; height:700px">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Url</th>
                    <th scope="col">Last Modified</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BlobItems)
                {
                    string link = $"https://epicprodstorage.blob.core.windows.net/composition-output/{item.Name}";
                    <tr>
                        <td scope="row">@count</td>
                        <td>@item.Properties.LastModified.Value.Date.ToShortDateString()</td>
                        <td> <a href="@link" target="_blank">@link</a></td>
                        <td>@item.Properties.LastModified</td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>
</div>
